@{

    ViewBag.Title = "Contact";
    Layout = null;
}
<script type="text/javascript">
    $(document).ready(function () {
        $('.card-img-top').each(function (index) {
            var h = $(this).height();
            $(this).next('.card-img-overlay').css("height", h);
        });
    })
</script>
<div ng-controller="topDealsCtrl">
    
    <div style="float:left">
        <div class="bd-docs col-lg-12">
            <div class="bd-example" data-example-id="">
                <div class="card-columns" style="width:100%">
                    <div class="card">
                        <div>
                            <img class="card-img-top"
                                 src="~/Images/Thumbnails/13.jpg"
                                 style=" width: 100%; display: block;">
                            <div class="card-img-overlay"><div style="margin-top:40%;text-align:center">Detail</div></div>
                        </div>
                        <div class="card-block">
                            <h4 class="card-title">Bicycle Double sided Utility Bag (Black & Blue) B-BCB5</h4>
                            <p class="card-text">
                                lead-in to additional content. This contenbelow as a natural
                                lead-in to additional content. This contenbelow as a natural lead-in to additional content.
                                This contenbelow as a natural lead-in to additional content. This content is a little
                                bit longer.
                            </p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                    <div class="card">
                        <div>
                            <img class="card-img-top"
                                 src="~/Images/Thumbnails/14.jpg"
                                 style=" width: 100%; display: block;">
                            <div class="card-img-overlay"><div style="margin-top:40%;text-align:center">Detail</div></div>
                        </div>
                        <div class="card-block">
                            <h4 class="card-title">Bicycle Double sided Utility Bag (Black & Blue) B-BCB5</h4>
                            <p class="card-text">
                                This is a longer  tural lead-in to additional content.This contenbelow as a natural lead-in to additional content.
                                This contenbelow as a natural lead-in to additional content.  This contenbelow as a natural lead-in to additional content. This contenbelow as a natural lead-in to additional content. This contenbelow as a natural lead-in to additional content. This content is a little bit longer.
                            </p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                    <div class="card">
                        <div>
                            <img class="card-img-top"
                                 src="~/Images/Thumbnails/1.jpg"
                                 style=" width: 100%; display: block;">
                            <div class="card-img-overlay"><div style="margin-top:40%;text-align:center">Detail</div></div>
                        </div>
                        <div class="card-block">
                            <h4 class="card-title">Bicycle Double sided Utility Bag (Black & Blue) B-BCB5</h4>
                            <p class="card-text">This is a lo text below as a natural .</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                    <div class="card">
                        <div>
                            <img class="card-img-top"
                                 src="~/Images/Thumbnails/2.jpg"
                                 style=" width: 100%; display: block;">
                            <div class="card-img-overlay"><div style="margin-top:40%;text-align:center">Detail</div></div>
                        </div>
                        <div class="card-block">
                            <h4 class="card-title">
                                Bicycle Double sided Utility Bag (Black & Blue) B-BCB5 This

                                This contenbelow as a natural lead-in to additional content.
                            </h4>
                            <p class="card-text">This is a longer card with supportlonger.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                    <div class="card">
                        <div>
                            <img class="card-img-top"
                                 src="~/Images/Thumbnails/12.jpg"
                                 style=" width: 100%; display: block;">
                            <div class="card-img-overlay"><div style="margin-top:40%;text-align:center">Detail</div></div>
                        </div>
                        <div class="card-block">
                            <h4 class="card-title">good Bag (Black & Blue) B-BCB5</h4>
                            <p class="card-text">This is a lon l lead-in to additional content.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                    <div class="card">
                        <div>
                            <img class="card-img-top"
                                 src="~/Images/Thumbnails/10.jpg"
                                 style=" width: 100%; display: block;">
                            <div class="card-img-overlay"><div style="margin-top:40%;text-align:center">Detail</div></div>
                        </div>
                        <div class="card-block">
                            <h4 class="card-title">Bicycle Double sided Utility Bag (Black & Blue) B-BCB5</h4>
                            <p class="card-text">This is a longer card wi r.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                    <div class="card">
                        <div>
                            <img class="card-img-top"
                                 src="~/Images/Thumbnails/2.jpg"
                                 style=" width: 100%; display: block;">
                            <div class="card-img-overlay"><div style="margin-top:40%;text-align:center">Detail</div></div>
                        </div>
                        <div class="card-block">
                            <h4 class="card-title">Bicycle Double sided Utility Bag (Black & Blue) B-BCB5</h4>
                            <p class="card-text">
                                This is a longer card with supporting text onal content.
                                This contenbelow as a natural lead-in to additional content. .
                            </p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                    <div class="card">
                        <div>
                            <img class="card-img-top"
                                 src="~/Images/Thumbnails/3.jpg"
                                 style=" width: 100%; display: block;">
                            <div class="card-img-overlay"><div style="margin-top:40%;text-align:center">Detail</div></div>
                        </div>
                        <div class="card-block">
                            <h4 class="card-title">Bicycle Double sided Utility Bag (Black & Blue) B-BCB5</h4>
                            <p class="card-text">This is a longer card with supporting text belo This content is a little bit longer.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                    <div class="card">
                        <div>
                            <img class="card-img-top"
                                 src="~/Images/Thumbnails/4.jpg"
                                 style=" width: 100%; display: block;">
                            <div class="card-img-overlay"><div style="margin-top:40%;text-align:center">Detail</div></div>
                        </div>
                        <div class="card-block">
                            <h4 class="card-title">Bicycle Double sided Utility Bag (Black & Blue) B-BCB5</h4>
                            <p class="card-text">This is a longer card with supporting text below as a natural </p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                    <div class="card">
                        <div>
                            <img class="card-img-top"
                                 src="~/Images/Thumbnails/10.jpg"
                                 style=" width: 100%; display: block;">
                            <div class="card-img-overlay"><div style="margin-top:40%;text-align:center">Detail</div></div>
                        </div>
                        <div class="card-block">
                            <h4 class="card-title">Bicycle Double sided Utility Bag (Black & Blue) B-BCB5</h4>
                            <p class="card-text">
                                This is a longer card with suppo -in to additional content.
                                This contenbelow as a natural lead-in to additional content.
                            </p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>