 @model List<SnapShop.Design.MongoDb.Product> 
@{
   
    ViewBag.Title = "Contact";
    Layout = null;
}
<script type="text/javascript">
    $(document).ready(function () {
        $('.card-img-top').each(function (index) {
            var h = $(this).height();
            $(this).next('.card-img-overlay').css("height", h);
        });
    })
</script>
<div ng-controller="topDealsCtrl">
    
    <div style="float:left">
        <div class="bd-docs col-lg-12">
            <div  class="bd-example" data-example-id="">
                <div id="divResult" class="card-columns" style="width:100%">
                   @foreach(SnapShop.Design.MongoDb.Product p in Model) { 
                    <div class="card">
                        <div>
                            <img class="card-img-top"
                                 src="@p.ImageData"
                                 style=" width: 100%; display: block;">
                            <div class="card-img-overlay">
                            <div style="margin-top:40%;text-align:center">Detail</div></div>
                        </div>
                        <div class="card-block">
                            <h4 class="card-title">
                                @p.Name
                            </h4>
                            <p class="card-text">
                               @p.Description
                            </p>
                            <p>
                                @p.Price
                            </p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                   }
                </div>
            </div>
        </div>
    </div>
</div>
<div style="position: fixed;top: 41%;left: 81%;display:none" id="loader">
    <img src="~/Images/loader.gif" height="25" />
</div>
<script>
    //$('.btnSearch').click(function () {
    //    window.scrollTo(0, 251);
    //    setTimeout(function () {
    //        $('#divCategory1').show();
    //    }, 100);

    //})
    function uploadFile() {
        var formData = new FormData();
        formData.append('file', $('#file')[0].files[0]);
        $("#loader").show();
        $.ajax({
            url: 'home/UploadAndSearch',
            type: 'POST',
            data: formData,
            processData: false,  // tell jQuery not to process the data
            contentType: false,  // tell jQuery not to set contentType
            success: function (data) { 
                var jsonData = JSON.parse(data)
                console.log(data);
                var htmlData = "";
                $.each(jsonData, function (index, object) {
                    htmlData +="<div class='card'><div><img class='card-img-top' src='" + object.ImageData+"' style=' width: 100%; display: block;'><div class='card-img-overlay'><div style='margin-top:40%;text-align:center'>Detail</div></div></div><div class='card-block'><h4 class='card-title'>"+object.Name+"</h4><p class='card-text'>"+object.Description+"</p><p>"+object.Price+"</p><p class='card-text'><small class='text-muted'>Last updated 3 mins ago</small></p></div></div>";
                })
                console.log("divResult", $("#divResult").html(htmlData))
                $("#divResult").html(htmlData);
                $("#loader").hide();
            }
        });

    }

    $(document).ready(function () {
        $("#btnup").click(function () {
            $("#file").click();
        });
    });
</script>