@{ 
    Layout = null;
}
<footer class="footer col-md-12">
    @*<div class="backgroundOverlayer">
        <ul class="cb-slideshow">
            <li><span></span></li>
            <li><span></span></li>
            <li><span></span></li>
            <li><span></span></li>
            <li><span></span></li>
            <li><span></span></li>
        </ul>
    </div>
    <div class="container">
        <div class="col-md-3">
            <ul>
                <li><span class="title">We Offer</span></li>
                <li><span>Advertisements</span></li>
                <li><span>Top Deals</span></li>
                <li><span>Social Features</span></li>
                <li><span>Notification</span></li>
                <li><span>News & Events</span></li>
                <li><span>Location Search</span></li>
                <li><span>Tenant Details</span></li>
                <li><span>Floor Map</span></li>
                <li><span>New Tenant</span></li>
            </ul>
        </div>

        <div class="col-md-3">
            <ul>
                <li><span class="title">Platforms</span></li>
                <li><span>Web</span></li>
                <li><span>Tab</span></li>
                <li><span>Mobile</span></li>
                <li><span>Download For iOS</span></li>
                <li><span>Download For Android</span></li>
                <li><span>Download For Windows</span></li>
            </ul>
        </div>
        <div class="col-md-3">
            <ul>
                <li><span class="title">Reach Us</span></li>
                <li><span>About</span></li>
                <li><span>Contacts</span></li>
                <li><span>Feedback</span></li>
                <li><span>Careers</span></li>
                <li><span><a href="/#/Create">List your business</a></span></li>
            </ul>
        </div>
        <div class="col-md-3">
            <div class="col-md-12">
                <ul>
                    <li><span class="title">Policies</span></li>
                    <li><span>Privacy</span></li>
                    <li><span>Terms</span></li>
                </ul>
            </div>

            <div class="col-md-12">
                <ul>
                    <li><span class="title">We Are</span></li>

                    <li>
                        <div class="header-logo">
                            <h4><a href="#/">SnapShop...</a></h4>
                        </div>
                        <div>© 2015 SnapShop </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-12 footer-term" >Terms</div>*@
</footer>