
<div class="col-lg-12">
    <div class="col-lg-10 searchControl">
        <div class="input-group " style="width:100%">

            <input type="text" id="txtSearchRegion" class="form-control pull-left"
                   placeholder="YOUR AREA" value=""> 
            <input type="text" id="txtSearchItem" class="form-control pull-left"
                   placeholder="CAPTURE SNAP AND SEARCH" value="">
            <input type="file" id="file" class="form-control pull-left" style="position:fixed;top:-10px" onchange="uploadFile()"
                   placeholder="CAPTURE SNAP AND SEARCH" value="">
            <div class="input-group-btn">
                <div class="dropdown">
                    <button id="btnup" class="btn btn-primary dropdown-toggle btnSearch" type="button" 
                            data-toggle="divCategory">                        
                        <span class="caret"></span>
                    </button>
                </div>
            </div>
        </div>


    </div>
</div>
<script>
    //$('.btnSearch').click(function () {
    //    window.scrollTo(0, 251);
    //    setTimeout(function () {
    //        $('#divCategory1').show();
    //    }, 100);

    //})
    function uploadFile() {
        var formData = new FormData();
        formData.append('file', $('#file')[0].files[0]);

        $.ajax({
            url: 'home/upload',
            type: 'POST',
            data: formData,
            processData: false,  // tell jQuery not to process the data
            contentType: false,  // tell jQuery not to set contentType
            success: function (data) {
                console.log(data);
                alert(data);
            }
        });

    }

    $(document).ready(function () {
        $("#btnup").click(function () {
            $("#file").click();
        }); 
    });
</script>