<div class="pageLinks">
    <ul class="links">
        <li><a href="/#/topdeals" data-hover="Home">TOP DEALS</a></li>
        <li class='liSeparator'>|</li>
        <li><a href="/#/topnewsandevents" data-hover="Home">NEWS & EVENTS</a></li>
        <li class='liSeparator'>|</li>
        <li><a href="/#/newopenings" data-hover="About">NEW OPENINGS</a></li>
        <li class='liSeparator'>|</li>
        <li><a href="/#/socialcontacts" data-hover="Gallery">CONNECT</a></li>
    </ul>
</div>